#fundo{ 
	width: 100%; 
	height: 100%;
	position: fixed;
	overflow-x: hidden;
	overflow-y: hidden;
    TOP: 0px;
    left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 1;
}

#fundo > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#menu { 
	width: 620px; 
	height: 150px;
	position: fixed;
	z-index: 2;
    TOP: 405px;
    left: 80px;
	display:flex;
    flex-wrap: wrap;
	justify-content: space-between;

 }

 #menu2 { 
	width: 620px; 
	height: 150px;
	position: fixed;
	z-index: 2;
    TOP: 580px;
    left: 80px;
	display:flex;
    flex-wrap: wrap;
	justify-content: space-between;

 }

#painel { 
	padding: 15px;
	background-color: white; 
	opacity: 95%;
	width: 950px;
	height: 400px;
	position: fixed;
	top: 20px;
	left: 20px; 
	z-index: 1;
	text-align: center;
	overflow-x:hidden;
	overflow-y:scroll;
	display: flexbox;
	flex-wrap:wrap;
}


h1{
	color:#f2ab27;
	text-shadow: #2450a6 3px 4px 3px;
	font-family: Impact;
	font-size: 45px;
	text-align: center;
}	
 

 #rodape { 
	background-color: rgb(255, 255, 255);
	font-size: small;
	opacity: 85%;
	width: 680px; 
	height: 115px;
	position: fixed;
	z-index: 1;
    right: 20px;
    bottom: 20px;
	border-radius: 5px;
	border-style:dashed;
	border-color:#2450a6;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	align-items: center;
	text-align: center;
 }

 #menu figure img{
    	height: 100%;
  		 width:100%;
        -webkit-transition: -webkit-transform .6s ease;
        transition: transform .6s ease;
		-webkit-filter: brightness(100%);
     }
     
#menu figure:hover img{
        -webkit-transform: scale(1.1);
        transform: scale(1.2);
		opacity: 0.;
		-webkit-filter: brightness(130%);			
     }

#menu2 figure img{
    	height: 100%;
  		 width:100%;
        -webkit-transition: -webkit-transform .6s ease;
        transition: transform .6s ease;
		-webkit-filter: brightness(100%);
     }
     
#menu2 figure:hover img{
        -webkit-transform: scale(1.1);
        transform: scale(1.2);
		opacity: 0.;
		-webkit-filter: brightness(130%);			
     }


	 #c1 {
		position:relative; bottom:80px;
		left:132px;
		padding:2px;
		line-height:20px;
		font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size:large;
		font-weight: bold;
		display: block;
		width:120px;
		opacity: 0;
		-webkit-transition: all 700ms ease;
		-moz-transition: all 700ms ease;
		-ms-transition: all 700ms ease;
		-o-transition: all 700ms ease;
		transition: all 700ms ease;
	   }
	   
	   #home:hover  #c1{
			 opacity: 1;
	   }

	   #c2 {
		position:relative; bottom:80px;
		left:132px;
		padding:2px;
		line-height:20px;
		font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size:large;
		font-weight: bold;
		display: block;
		width:120px;
		opacity: 0;
		-webkit-transition: all 700ms ease;
		-moz-transition: all 700ms ease;
		-ms-transition: all 700ms ease;
		-o-transition: all 700ms ease;
		transition: all 700ms ease;
	   }
	   
	   #sobre:hover  #c2{
			 opacity: 1;
	   }

	 #c3 {
		position:relative; bottom:80px;
		left:132px;
		padding:2px;
		line-height:20px;
		
		font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size:large;
		font-weight: bold;
		display: block;
		width:120px;
		opacity: 0;
		-webkit-transition: all 700ms ease;
		-moz-transition: all 700ms ease;
		-ms-transition: all 700ms ease;
		-o-transition: all 700ms ease;
		transition: all 700ms ease;
	   }
	   

	 #c3 {
		position:relative; bottom:80px;
		left:132px;
		padding:2px;
		line-height:20px;
		
		font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size:large;
		font-weight: bold;
		display: block;
		width:120px;
		opacity: 0;
		-webkit-transition: all 700ms ease;
		-moz-transition: all 700ms ease;
		-ms-transition: all 700ms ease;
		-o-transition: all 700ms ease;
		transition: all 700ms ease;
	   }
	   

	 #c3 {
		position:relative; bottom:80px;
		left:132px;
		padding:2px;
		line-height:20px;
		
		font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size:large;
		font-weight: bold;
		display: block;
		width:120px;
		opacity: 0;
		-webkit-transition: all 700ms ease;
		-moz-transition: all 700ms ease;
		-ms-transition: all 700ms ease;
		-o-transition: all 700ms ease;
		transition: all 700ms ease;
	   }
	   
	   #elimpa:hover  #c3{
			 opacity: 1;
	   }

	   #c4 {
		position:relative; bottom:80px;
		left:132px;
		padding:2px;
		line-height:20px;
		font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size:large;
		font-weight: bold;
		display: block;
		width:120px;
		opacity: 0;
		-webkit-transition: all 700ms ease;
		-moz-transition: all 700ms ease;
		-ms-transition: all 700ms ease;
		-o-transition: all 700ms ease;
		transition: all 700ms ease;
	   }
	   
	   #produtos:hover  #c4{
			 opacity: 1;
	   }

	   #c5 {
		position:relative; bottom:80px;
		left:132px;
		padding:2px;
		line-height:20px;
		font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size:large;
		font-weight: bold;
		display: block;
		width:120px;
		opacity: 0;
		-webkit-transition: all 700ms ease;
		-moz-transition: all 700ms ease;
		-ms-transition: all 700ms ease;
		-o-transition: all 700ms ease;
		transition: all 700ms ease;
	   }
	   
	   #faq:hover  #c5{
			 opacity: 1;
	   }

	   #c6 {
		position:relative; bottom:80px;
		left:132px;
		padding:2px;
		line-height:20px;
		font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size:large;
		font-weight: bold;
		display: block;
		width:120px;
		opacity: 0;
		-webkit-transition: all 700ms ease;
		-moz-transition: all 700ms ease;
		-ms-transition: all 700ms ease;
		-o-transition: all 700ms ease;
		transition: all 700ms ease;
	   }
	   
	   #fale:hover  #c6{
			 opacity: 1;
	   }

.textosombra{
	color: #2450a6;
	text-shadow: #f2ab27 3px 4px 3px;
	font-weight: bold;
}

#c1  > a:link{color:#2450a6;	text-shadow:white 3px 4px 3px;	}
#c1  > a:visited{color:#2450a6;	text-shadow:white 3px 4px 3px;	}
#c1  > a:hover {text-decoration:none;		color:white;	text-shadow:#2450a6 -3px -3px 3px;}
#c2  > a:link{color:#2450a6;	text-shadow:white 3px 4px 3px;	}
#c2  > a:visited{color:#2450a6;	text-shadow:white 3px 4px 3px;	}
#c2  > a:hover {text-decoration:none;		color:white;	text-shadow:#2450a6 -3px -3px 3px;}
#c3  > a:link{color:#2450a6;	text-shadow:white 3px 4px 3px;	}
#c3  > a:visited{color:#2450a6;	text-shadow:white 3px 4px 3px;	}
#c3  > a:hover {text-decoration:none;		color:white;	text-shadow:#2450a6 -3px -3px 3px;}
#c4  > a:link{color:#2450a6;	text-shadow:white 3px 4px 3px;	}
#c4  > a:visited{color:#2450a6;	text-shadow:white 3px 4px 3px;	}
#c4  > a:hover {text-decoration:none;		color:white;	text-shadow:#2450a6 -3px -3px 3px;}
#c5  > a:link{color:#2450a6;	text-shadow:white 3px 4px 3px;	}
#c5  > a:visited{color:#2450a6;	text-shadow:white 3px 4px 3px;	}
#c5  > a:hover {text-decoration:none;		color:white;	text-shadow:#2450a6 -3px -3px 3px;}
#c6  > a:link{color:#2450a6;	text-shadow:white 3px 4px 3px;	}
#c6  > a:visited{color:#2450a6;	text-shadow:white 3px 4px 3px;	}
#c6  > a:hover {text-decoration:none;		color:white;	text-shadow:#2450a6 -3px -3px 3px;}


a:link{color:#2450a6;	text-shadow:white 3px 4px 3px;	}
a:hover {text-decoration:none;		color:#2450a6;	text-shadow:#2450a6 -3px 4px 3px;}



.pagina{
	width: 50%; 
	height: 50%; 
	display:inline-block;}






